h1 {
    color: darkgreen;
}

.header {
    font-family: Georgia;
    text-align: center;
}

p {
    line-height: 25px;    
}

a {
    text-decoration: none;
}

.article {
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

img {
    float: left;
    margin-right: 20px;
}
